
<div th:fragment="menu" class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/vaitro}">Vai Trò</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/quanly}">Quản Lí</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/benhnhan}">Bệnh Nhân</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/chuyenkhoa}">Chuyên Khoa</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/bacsi}">Bác sĩ</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/nhanvien}">Nhân Viên</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/dichvu}">Dịch Vụ</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/thuoc}">Thuốc</a></li>
    </ul>
</div>
