<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhân viên</title>
</head>
<body>
    hello nhanvien

    <div th:fragment="menu" class="sidebar"></div>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" th:href="@{/nhanvien/trangchu/nhapthuoc/form}">Nhập Thuốc</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/nhanvien/trangchu/khothuoc/list}">Kho Thuốc</a></li>
            <!-- <li class="nav-item"><a class="nav-link" th:href="@{/nhanvien/trangchu/thuoc/list}">Danh sách Thuốc</a></li> -->
            <li><a href="/nhanvien/profile" class="btn btn-info">Xem Thông Tin Cá Nhân</a>            </li>
            <!-- <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/thuoc}">Trang Thuốc</a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/quanly}">Quản Lí</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/benhnhan}">Bệnh Nhân</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/chuyenkhoa}">Chuyên Khoa</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/bacsi}">Bác sĩ</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/nhanvien}">Nhân viên</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/dichvu}">Dịch Vụ</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/quanly/trangchu/thuoc}">Thuốc</a></li> -->
            
        </ul>
    </div>
    
</body>
</html>